@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
  
  /* Custom Colors */
  --neon-green: #00ff94;
  --neon-purple: #ad00ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-green: var(--neon-green);
  --color-neon-purple: var(--neon-purple);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--neon-green);
}

::selection {
  background: var(--neon-green);
  color: #000;
}
